/* html {
  background: url("https://lh3.googleusercontent.com/d/1YqkjSadW714piyVpkKu6IeG9uUNN1ZOa")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

* {
  font-family: "Quicksand", sans-serif;
}
body {
  margin: 0px;
  min-width: 850px;
}

.header {
  display: flex;
  justify-content: space-between;
  color: aliceblue;
  margin: 50px;
  background-image: linear-gradient(to right, #9ec7a7, #8c8cae);
}

.menu ul {
  display: flex;
  list-style-type: none;
}

.menu a {
  padding: 5px 20px 5px 20px;
  text-decoration: none;
  color: aliceblue;
  font-size: x-large;
  border-radius: 25px;
}

.menu a:hover {
  background-color: #ffd452;
  color: black;
}

.products {
  display: flex;
  background-color: rgb(255, 255, 255);
  border-top: 1px solid black;
}

.department {
  padding: 3px;
  font-size: 20px;
  font-weight: 600;
}

.department:hover {
  background-color: #ffd452;
  border: 1px solid transparent;
  border-radius: 5px;
}
.department a {
  color: white;
}
.department:hover > a {
  color: black;
}
.menu-title {
  color: #ffd452;
  font-weight: 800;
  font-size: 25px;
  margin: 5px 0 5px 0;
}

.type-menu {
  padding: 20px;
  min-width: 160px;
  border-right: 1px solid black;
  background-color: rgb(112, 119, 141);
}

.sub-menu h4 {
  margin: 0px;
}

.sub-menu a {
  text-decoration: none;
}
.type-product {
  width: 100%;
  background-color: rgb(112, 119, 141);
}

.type-product .title {
  justify-content: space-between;
}

.title {
  background-image: linear-gradient(to right, #9ec7a7, #8c8cae);
}

.title .topic {
  font-size: xx-large;
  font-weight: 800;
  padding: 10px;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-left: 120px;
}

#search-form {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  width: 600px;
  height: 60px;
  padding-left: 10px;
  border: 2px solid transparent;
  font-size: 32px;
}
#search-form:focus {
  outline: none;
}

i {
  width: 40px;
  height: 32px;
  padding: 15px;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
  border: 2px solid transparent;
  color: white;
  background-color: #ffd452;
}

.product-list {
  background-color: rgb(112, 119, 141);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 30px;
}

.product {
  background-color: white;
  margin: 30px 0 0 30px;
  border: 1px solid black;
  border-radius: 30px;
  height: 300px;
  max-width: 260px;
  min-width: 260px;
  padding: 25px;
  box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
}

.product-img {
  display: flex;
  padding: 20px;
  max-height: 160px;
  min-height: 160px;
  position: relative;
  justify-content: center;
}

.product-img img {
  margin: auto;
  height: 140px;
  width: 140px;
  position: absolute;
}

.product:hover .product-img img {
  height: 180px;
  width: 180px;
  transition: 2s;
}

.product-price {
  color: brown;
  font-size: x-large;
  margin-bottom: 10px;
}

.product-name {
  font-weight: 700;
}
.product-ct {
  text-align: center;
  color: #000000;
  font-size: 25px;
  position: absolute;
  width: 100%;
  height: 50px;
  left: 0px;
  top: 350px;
  background-image: linear-gradient(to right, #9ec7a7, #8c8cae);
}
.product-ct:hover {
  color: white;
}
.product:hover .product-ct {
  top: 300px;
  transition: 1s;
}
@media only screen and (max-width: 1000px) {
  .header {
    display: block;
  }

  .logo {
    text-align: center;
  }

  .menu {
    display: flex;
    justify-content: center;
  }

  .intro {
    display: block;
  }

  .intro-desc {
    text-align: center;
  }

  .intro-image {
    margin-top: 50px;
  }

  .intro-image img {
    width: 50%;
  }
}
